{% extends "entidades/index.html" %}
{% load static %}

{% block titular %}
<img src="{% static '/assets/Flota.jpeg' %}"  width="500" height="100" >
{% endblock titular %}

{% block titulo %}
<table>
    <tr>
        <td  class="mb-5" width="200"><h2>Proveedores</h2></td>
        <td>
            <a  href="{% url 'proveedorForm' %}"
                class="btn btn-primary btn-sm">
            <i class="fa fa-plus fa-lg" title="Nuevo"> </i>
            </a>
        </td>
    </tr>
    </table>
<p>Registro de proveedores con los que se trabaja</p>                          
{% endblock titulo %}

{% block intermedio %}
<hr>
{% endblock intermedio %}

{% block contenido %}   
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>EMail</th>
            <th>direccion</th>
        </tr>
    </thead>
    <tbody>
    {% for p in proveedores %}
        <tr>
            <td>{{ p.id }}</td>
            <td>{{ p.nombre }}</td>
            <td>{{ p.apellido }}</td>
            <td>{{ p.email }}</td>
            <td>{{ p.direccion }}</td>
            <td>
                <a
                  href="{% url 'proveedorUpdate' p.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa fa-edit fa-sm" title="Editar"></i>
                </a>
                <a
                  href="{% url 'proveedorDelete' p.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
                  <i class="fa fa-trash fa-sm" title="Borrar"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock contenido %}
    
    